@charset "utf-8";
body{
	margin-left:192px !important;
	padding-top:32px;
}

button{
	user-select: none;
	transition:all 0.125s;
}

img{
	max-height:512px;
	max-width:256px;
	cursor:pointer;
}

.dateSelector{
	position:fixed;
	top:0px;
	left:0px;
	bottom:0px;
	width:192px;
	overflow-y:auto;
	border-right:1px solid #8EC3EB;
	z-index:10;
}

.dateBu{
	width:100%;
	height:32px;
	border:none;
	outline:none;
	color:#000;
	background:#FFF;
	font-family: '微软雅黑';
}
.dateBu:hover{
	color:#FFF;
	background-color:#007FFF;
}

.dateBu.selected{
	color:#FFF;
	background-color:#007FFF;
}

.showImgForm{
	display: flex;
	justify-content: center;
	/* align-items: top; */
	/* margin:0 auto; */
	height:100%;
}

.showImgTable{
	width:100%;
	height:100%;
	text-align: center;
	vertical-align: middle;
	border-collapse: collapse;
	border:none;
}
.showImgTable tr, .showImgTable td{
	border:none;
}

.showImg{
	/* display: flex;
	justify-content: center; */
	max-width: none;
	max-height: none;
	/* align-items: center; */
}

.searchBar{
	position:fixed;
	top:0px;
	left:193px;
	right:0px;
	height:32px;
	border-bottom:1px solid #8EC3EB;
	z-index:10;
	background:rgba(255,255,255,0.25);
	backdrop-filter: blur(10px);
	user-select: none;
}
.searchInput{
	/* width:calc(100% - (32px * 4) - 15px); */
	/* width:calc(100% - (32px * 4) - 64px - 18px); */
	width:calc(100% - (32px * 4) - 64px);
	height:100%;
	padding:0px;
	padding-left: 8px;
    padding-right: 8px;
	border:none;
	outline:none;
	background:transparent;
	font-family: '微软雅黑';
	vertical-align: top;
}
.searchBu{
	padding: 0px;
    width: 32px;
    height: 32px;
    border: none;
    outline: none;
    font-family: '新宋体';
    line-height: 0px;
    font-size: 20px;
    background: transparent;
	vertical-align: top;
}
.searchBu:hover{
	background:#8EC3EB;
}
.searchBu:active{
	background:#007FFF;
	color:#FFF;
}
.searchBu.clear{
	color:#F00;
}
.searchBu.submit{
	font-weight:bold;
}
.searchBu.num{
	width:64px;
	font-size:14px;
	font-family: '微软雅黑';
	pointer-events: none;
	overflow:hidden;
}

.highlight{
	transition:all 0.25s;
	outline:1px solid transparent;
	background-color: #FFFF00;
}
.highlight2{
	background-color: #FFFF00;
	outline:1px solid #FF7F00;
}